/* text field start */

.text-field-container label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #4e4e4e;
}

.text-field-container .MuiTextField-root {
    width: 100%;
    padding: 0;
}

.text-field-container .MuiInputBase-root {
    padding: 8px;
}

.text-field-container .MuiTextField-root input {
    padding: 0px;
}

/* text field end */


/* button start */

.icon-button:focus {
    outline: none;
}

/* button end */


/* modal start  */

.custom-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background-color: #fff;
    padding: 2px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
}

.custom-modal .modal-header {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cecece;
}

.custom-modal .modal-header .title {
    font-size: 20px;
    font-weight: 500;
}

.custom-modal .modal-footer {
    gap: 12px;
    padding: 8px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 1px solid #cecece;
}

/* modal end */

/* Divider dot start */

.divider-dot{
    border-radius: 50%;
    background-color: #cecece;
}

/* Divider dot end */